/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-size: 16px;
    line-height: 1.4;
    font-family: Georgia, serif;
    color: #7e7e7e;
}


.container {
    max-width: 700px;
}

.logo {
    padding: 25px 0 0 0;
}


.center {
    text-align: center;
}


a {
    color: #e51e41;
    text-decoration: underline;
}

a:hover {
    color: #cb102f;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', helvetica, arial, sans-serif;
    text-transform: uppercase;
    color: #e51e41;
    margin-bottom: 50px;
}

h1 {
    font-size: 50px;
    max-width: 450px;
    margin: 30px auto;
    color: #585858;
}

h2 {
    font-size: 35px;
}

.has-sub {
    margin-bottom: 0;
}

.sub {
    margin-top: 10px;
}

p.lead {
    font-size: 20px;
}

.content {
    padding: 40px 0 50px 0;
}

.content.intro {
    padding-top: 10px;
}

#share-buttons h4 {
    margin: 40px 0 10px 0;
}

#share-buttons a,
#share-buttons a:hover {
    text-decoration: none;
}

.bg-alt {
    background-color: #f8f8f8;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

ul.heading-detail {
    padding: 0;
}

ul.heading-detail li {
    padding: 20px 0;
    list-style-type: none;
}

ul.heading-detail li strong {
    color: #e51e41;
    display: inline-block;
    margin-bottom: 7px;
}

.contact-form {
    max-width: 350px;
    margin: 40px auto 0 auto;
}

label {
    font-weight: normal;
    width: 100%;
}

.form-control:focus {
  border-color: #f3758a;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(299, 30, 65, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(299, 30, 65, 0.6);
}

.btn {
    color: #fff;
    background-color: #e51e41;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
    background-color: #cb102f;
}

.required {
    color: #bbb;
    float: right;
    font-size: 12px;
    padding-top: 5px;
}

.val-error {
    font-size: 12px;
    color: #fff;
    background-color: #e51e41;
    padding: 5px 10px;
    margin-top: 5px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
